@import "semantic-ui-css/semantic.min.css";

$information-phone: "only screen and (max-width : 400px)";

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    padding: 24px;
    @media #{$information-phone} {
        padding: 0;
    }
}

.game-tables {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    row-gap: 32px;

    @media #{$information-phone} {
        grid-template-columns: 1fr;
    }
}
